@plugin "daisyui";
@import "tailwindcss";



:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;

  text-decoration: inherit;
}

body {
  margin: 0;

  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;

  cursor: pointer;
}

.universe {
  background: #ffa17f;
  background: -webkit-linear-gradient(to right, #00223e, #ffa17f);
  background: linear-gradient(to right, #00223e, #ffa17f);
  overflow: hidden;
}
.star0 {
  height: 1px;
  width: 1px;
  opacity: 1;
  position: absolute;
}

.star1 {
  height: 2px;
  width: 2px;
  border-radius: 50%;
  opacity: 1;
  position: absolute;
}

.star2 {
  height: 3px;
  width: 3px;
  border-radius: 50%;
  opacity: 1;
  position: absolute;
}

.star3 {
  height: 4px;
  width: 4px;
  border-radius: 50%;
  opacity: 1;
  position: absolute;
}

@keyframes slideDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.animate-slideDown {
  animation: slideDown 0.3s ease forwards;
}


@keyframes shine {
  0% {
    transform: translateX(-100%) rotate(12deg);
  }
  100% {
    transform: translateX(200%) rotate(12deg);
  }
}

.animate-shine {
  animation: shine 1.2s ease-in-out;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.8s ease-out forwards;
}

.input{
width:100%;
padding:12px;
border:1px solid #ddd;
border-radius:12px;
outline:none;
}

.input:focus{
border-color:#f59e0b;
box-shadow:0 0 0 2px #fde68a;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(210px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up:hover {
  animation: fadeUp 0.8s ease forwards;
}